.ui-panel{padding:.2em;}
.ui-panel .ui-panel-titlebar{padding:.5em 1em .3em;position:relative;}
.ui-panel .ui-panel-title{float:left;margin:.1em 16px .2em 0;}
.ui-panel .ui-panel-titlebar-icon{float:right;}
.ui-panel .ui-panel-titlebar-icon,.ui-panel .ui-panel-titlebar-icon:hover,.ui-panel .ui-panel-titlebar-icon:focus{margin-left:.2em;}
.ui-panel .ui-panel-content{border:0;background:none;padding:.5em 1em;}
.ui-panel .ui-panel-footer{border-width:1px 0 0;margin:.5em 0 0;padding:.5em 1em;text-align:left;}